@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Here I first adapt the body to have the right background color and font-family */
body {
  background: #FAD6CA;
  font-family: "Belanosima", serif;
  margin: 0;
}

/* now I do mobile first styling */
/* nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5px;
} */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100px; */

}

.desktop-nav {
  display: none;
}

/* this is all the code to make the functional hamburger menue */

/* here we define the variables we will use  */
:root {
  --bar-width: 60px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --foreground: #F4805B;
  --background: #FAD6CA;
  --hamburger-margin: 10px;
  --animation-timing: 400ms ease-in-out;
  --hamburger-height: calc(var(--bar-height)*3 + var(--hamburger-gap)*2);
}


.hamburger-menue {
  --x-width: calc(var(--hamburger-height)* 1.41421356237);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: var(--hamburger-margin);
  right: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer;
}

.hamburger-menue:has(input:checked) {
  --foreground: #fad6ca;
  --background: #f4805b;
}

.hamburger-menue:has(input:focus-visible)::before .hamburger-menue:has(input:focus-visible)::after .hamburger-menue:has(input:focus-visible) {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menue::before,
.hamburger-menue::after,
.hamburger-menue input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animaltion-timing), width var(--animaltion-timing), rotate var(--animaltion-timing), translate var(--animaltion-timing), background-color var(--animaltion-timing);
}

.hamburger-menue input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menue:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) /-2);
}

.hamburger-menue:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
}

.hamburger-menue input:checked {
  opacity: 0;
  width: 0;
  translate: 0 calc(var(--bar-height) /2);
}



.sidebar {
  transition: translate var(--animaltion-timing);
  translate: -1000%;

  padding: 0.5rem 1rem;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  background-color: var(--foreground);
  color: var(--background);
  width: 200px;
  /* min-height: 100vh; */
  font-size: 20pt;
  /* z-index: 3; */
  /* max-width: 10rem; */

}

.hamburger-menue:has(input:checked)+.sidebar {
  translate: 0;
  /* z-index: 1; */
  position: relative;
  left: 10%;
  min-height: 100vh;

}


.hidden-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
}


.orange-logo {
  height: 150px;
  padding-left: 10px;
}

/* now its the hero section */
.video-web {
  display: none;
}

.hero {
  position: relative;
}

.video-mobile {
  width: 100%;
  border-radius: 4px;
  z-index: 3;
}

.hero-text-container {
  position: absolute;
  top: 1px;
  padding: 10px 10px;
}

.hero-text-container h1 {
  color: #2D421B;
  font-size: 72pt;
  margin: 0;
  text-shadow: 2px 2px #F4805B;
}

/* now the problem section */

.problem-section {
  background-color: #FEEFEA;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.problem-text {
  color: #2D421B;
}

.problem-text h1 {
  font-size: 30pt;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0;
}

.problem-text p {
  font-size: 16pt;
  padding: 0 10px;
  margin-top: 0;
}

.holding-monstera {
  width: 45%;
}

/* next section */

.how-to-section {
  background-color: #FAD6CA;
  margin-bottom: 20px;

}

.how-to-title-container {
  display: flex;
  align-items: center;
  margin-bottom: 0;

}

.holding-snakeplant {
  width: 30%;
}

.how-to-title-container h1 {
  color: #F4805B;
  font-size: 30pt;
}

.step-by-step-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}

.step-by-step-container h2 {
  color: #2D421B;
  font-size: 20pt;
  margin: 0;
}

.step {
  background-color: #F4805B;
  border-radius: 12px;
  padding: 20px 20px;
  width: 40%;
  /* height: 80px; */
  text-align: center;

}

.step p {
  color: #2D421B;
  font-size: 16pt;
  margin: 0;
}

/* now the form */

.signup-form-section {
  background-color: #FEEFEA;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.holding-potedplant {
  display: none;
}

.hangingplant {
  display: none;
}

.signup-form-section h1 {
  color: #F4805B;
  font-size: 30pt;
  text-align: center;
  /* padding-top: 20px; */
  margin-bottom: 0;
  font-weight: regular;
}

fieldset {
  border: none;
  padding: 0;
  margin-bottom: 20px;
}

label {
  display: flex;
  flex-direction: column;
}


.checkbox-container {
  flex-direction: row;
}

span {
  color: #2D421B;
}

.text-input-field {
  width: 100%;
  /* if i put it to 70 percent it would not add up to 100 because we are inside flexbox... so the input will just fill it when we use the flex shrink */
  appearance: none;
  /* this will make sure we completely overwrite the default */
  font-size: 15px;
  padding: 10px 5px;
  border: none;
  /* you should have some indication of where you are but we are taking it away */
  outline: none;
  border-radius: 12px;

}

button {
  background: #F4805B;
  font-family: "Belanosima", serif;
  border: none;
  appearance: none;
  /* this will make sure we completely overwrite the default */
  border-radius: 4px;
  width: 100%;
  font-size: 20px;
  color: white;

  padding: 10px 10px;
  margin-top: 20px;

}

/* here i now add some validations */
.email-input-field input:invalid {
  background-color: #F4805B;
}



/* make custom checkmark so i is oragne or green */
/* making sure the data from the form works and its valid!  */

/* just adding the footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.green-logo {
  height: 80px;
}

.github-link {
  color: #2D421B;
  text-decoration: none;
  font-size: 10pt;
}

/* now we adapt it for the different screen sizes */

/* first the two together */

@media (min-width: 667px) {
  .mobile-nav {
    display: none;
  }

  header {
    justify-content: space-evenly;
    gap: 20px;
  }

  .desktop-nav {
    display: block;
    /* width: 80%; */
    cursor: pointer;
  }

  .desktop-menue {
    position: static;
    display: flex;
    /* justify-content: space-around; */
    gap: 30px;
    font-size: 16pt;
    text-transform: uppercase;


  }

  .desktop-menue a {
    text-decoration: none;
    color: #F4805B;

  }

  /* now the other video */

  .video-web {
    display: block;
    width: 100%;
    border-radius: 4px;
    z-index: 3;

  }

  .video-mobile {
    display: none;

  }

  .hero-text-container {
    top: 10px;
    left: 10px;
  }

  .hero-text-container h1 {
    font-size: 60pt;
    text-align: left;
    width: 50%;
  }

  .problem-section {
    flex-direction: row;
  }

  .problem-text h1 {
    text-align: left;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 48pt;
  }

  .holding-monstera {
    width: 300px;
  }

  .how-to-title-container {
    position: relative;
    height: 100px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

  }

  .holding-snakeplant {
    position: absolute;
    top: 10px;
    left: 0;
  }

  .how-to-title-container h1 {
    align-content: center;
  }

  /* now we add the other pictures back */
  .signup-form-section {
    position: relative;
  }

  .holding-potedplant {
    display: block;
    width: 400px;
    position: absolute;
    right: -100px;
    bottom: 0;
  }

  .hangingplant {
    display: block;
    width: 350px;
    position: absolute;
    top: 0;
    left: -20px
  }




}

/* then desktop */
@media (min-width:1025px) {
  .desktop-menue {
    font-size: 30pt;
  }

  .hero-text-container h1 {
    font-size: 80pt;
  }

  .problem-text {
    padding-left: 50px;
  }

  .problem-text h1 {
    font-size: 72pt;
  }

  .problem-text p {
    font-size: 20pt;
  }

  .holding-monstera {
    width: 30%;
  }

  .how-to-section {
    height: 100vh;
  }

  .how-to-title-container {
    height: 200px;
  }

  .how-to-title-container h1 {
    font-size: 72pt;
  }

  .step-by-step-container {
    margin-top: 100px;
  }

  .step-by-step-container h2 {
    font-size: 30pt;
  }

  .step p {
    font-size: 20pt;
  }

  .holding-snakeplant {
    top: 200px;
    /* width: 500px; */
  }

  .signup-form-section h1 {
    font-size: 64pt;
  }

  .signup-form-section span {
    font-size: 16pt;
  }

  .signup-form-section button {
    font-size: 20pt;

  }

  .holding-potedplant {
    width: 600px;
  }

  .hangingplant {
    width: 450px;
  }
}